.LoadingComponentParent {
  background-color: #F5F7FA;
}

.LoadingComponentParent .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #abacaf9c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.Spinner {
  width: 54px;
  height: 54px;
  border: 5px solid rgba(255,255,255,.88);
  border-bottom-color: #2366F4;
  border-left-color: #2366F4;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  
  box-shadow: 0 10px 24px #17213a29;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}