
.pagination{
    text-align: center;
    padding: 20px;
    font-weight: 600;
    color: black;
}
.pagination .selected{

    background-color: #08edc6;
}

.pagination button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 2px 16px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c9ced1;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 2px 2px;
}




/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.UserDataAdmin .userData table  thead {
    background-color: #22afa3;
}



